// Colors
$purple: #6D6FAD;
$lt-purple: #9D9FDD;
$black: #131417;
$dk-grey: #242830;
$md-grey: #8E8E8E;
$lt-grey: #B1B1B1;
$white: #EDEDED;

// Typography
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');